////
/// All default styles for standard typography elements live here.
/// @group typography
////

p,
h1,
h2 {
  margin: 0;
}

h1,
h2 {
  font-weight: $fw-regular; // Chrome fix for extra font bolding
}


///
/// Basic text elements

p {
  @include type-body;
}


a {
  display: inline;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {

  }
}


///
/// Headings

h1 {
  font-family: ff('');
}

h2 {
  font-family: ff('');
}

h3 {
  font-family: ff('');
}
